.navbar {
  font-family: 'Montserrat', sans-serif;
}

.topper {
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 3.5em;
}

.headline {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2em;
  display: block;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chapter_header {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 0.5em;
}

p {
  font-family: georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

.graphic {
  padding-top: 2em;
  padding-bottom: 2em;
}

/**Fade in code edited from Maddy Osman at https://blog.hubspot.com/website/css-fade-in**/
.fade-in {
  opacity: 55%;
  transition:opacity 1s
}

/**Fade in code edited from Maddy Osman at https://blog.hubspot.com/website/css-fade-in**/
.fade-in:hover {
  opacity:100%;
  transition:opacity 1s
}

.caption {
  font-family: georgia, serif;
  font-size: 0.75em;
  display: block;
  text-align: center;
}

.photo_gallery {
  padding-top: 1em;
  padding-bottom: 3em;
  max-width: 50%;
  max-height: 50%;
}

.carousel-caption {
  color: black;
  font-size: 0.85em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-align: left;
  left: auto;
  right: auto;
}

.footer {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 0.75em;
  color: #FFFFFF;
  height: 3em;
  width: auto;
  position: relative;
}
