.banner {
  max-width: 100%;
  height: auto;
  width: auto;
}

.container-fluid {
  font-family: 'PT Sans', sans-serif;
}

.sectionheader {
  font-size: 1.75em;
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.experience_section {
  margin: 1em;
}

#experience_row {
  background-color: #8da7ba;
}

.education_section {
  margin: 1em;
}

#education_row {
  background-color: #D3D3D3;
}

.skills_section {
  margin: 1em;
}

#skills_row {
    background-color: #8da7ba;
}

#footer {
  display: block;
  background-color: #D3D3D3;
  text-align: center;
  font-size: 0.75em;
  font-family: 'PT Sans', sans-serif;
}
