<!-- styles for my resume -->

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size:1em;
  color:#444;
}

/*name*/
h1 {
  font-size:3em;
  color:#33485e;
  text-transform:uppercase;
  text-align:center;
}

/*occupation*/
strong {
  font-size:1.5em;
  color:#33485e;
}

/*section headers*/
h2 {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color: white;
}

/*job title*/
h3 {
  font-size:1.5em;
  font-weight: 600;
}

/*organization*/
h4 {
  font-size:1.5em;
  font-weight:400;
}

/*dates*/
h5 {
  font-weight:400;
  font-size:1em;
  font-style: italic;
}

/*contact info, skills, education*/
ul {
  font-size:1em;
}
